node_modules/
.pnpm-store/
.dist/
dist/
build/
coverage/
.next/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.idea/
.vscode/
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
logs/
backups/
temp/

.turbo/
